.search-box :is(input){
    background: none;
    padding: 0 7px;
    margin-top: 2em;
    width: 250px;
    font-size: 20px;
    border-bottom: 2px solid $secondary-color;

    &:active, &:hover, &:focus{
        outline: none;
    }
}