@import url("https://fonts.googleapis.com/css?family=Raleway:400|Exo:400");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: content-box;
}

.content-wrap {
  max-width: 1440px;
}

a {
  cursor: pointer;
}

li {
  list-style-type: none;
}

#text {
  display: none;
}

html {
  font-size: 100%;
}

/*16px*/
body {
  background: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Exo", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small, .text_small {
  font-size: 0.75rem;
}

p :is(.text-green) {
  color: #8bc63f;
}

body {
  background-color: #333333;
  color: white;
}

h4 {
  color: #8bc63f;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  border-radius: 0 0 15px 15px;
  transition: ease-in 0.2s;
}
nav li {
  transition: all ease-in-out 0.5s;
  letter-spacing: 1px;
}
nav .active {
  color: #8bc63f;
}
nav .line {
  border: none;
  position: relative;
}
nav .line:hover {
  border: none;
}
nav .line::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  left: 50%;
  bottom: 5px;
  background-color: #8bc63f;
  transition: all ease-in-out 0.4s;
}
nav .line:hover::after {
  width: 100%;
  left: 0;
}

.logo {
  border-radius: 0 0 25px 25px;
}
.logo span {
  border-bottom: 2px solid #8bc63f;
}
.logo span:hover {
  border: none;
}
.logo span:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  left: 50%;
  bottom: 5px;
  background-color: #8bc63f;
  transition: all ease-in-out 0.4s;
}
.logo span:hover::after {
  width: 100%;
  left: 0;
}

.background-hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  height: 100vh;
  position: relative;
}
header h4 {
  font-family: "Raleway";
}
header .punchline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .arrow {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin: -12px;
  animation: animate 4s infinite;
}
header .arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
header .arrow span:nth-child(3) {
  animation-delay: -0.3s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
header .profile-img {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  cursor: pointer;
}

main {
  background-color: #333333;
  min-height: 500px;
}

.card {
  max-width: 400px;
  overflow: hidden;
  margin: 2em 5px;
}

.product-card {
  width: 220px;
  overflow: hidden;
}

.product-card, .card :is(h4) {
  color: white;
  margin-top: 0.5em;
}

.card-image-container, .product-image-container {
  position: relative;
  height: 190px;
  border-bottom: 1px solid #8bc63f;
  overflow: hidden;
}

.product-image-container {
  height: 120px;
}

.card img {
  width: fit-content;
  height: auto;
  transition: transform 1s;
}

.img-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(139, 198, 62, 0.9);
  color: white;
  width: 100%;
  height: 100%;
  transition-property: height;
  transition: ease 0.6s;
  opacity: 0;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  align-content: center;
}
.img-overlay span {
  font-size: 1.2em;
  line-height: 120px;
  vertical-align: center;
}

.card-image-container:hover .img-overlay, .product-image-container:hover .img-overlay {
  opacity: 1;
  height: 100%;
  cursor: pointer;
  transition: ease 0.2s;
}

.detail i {
  color: #8bc63f;
}

footer {
  background-color: #8bc63f;
}
@media screen and (min-width: 835px) {
  footer {
    background-color: #8bc63f;
    background-image: url(/images/main/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
footer .background-footer {
  background-color: rgba(139, 198, 63, 0.7);
}
footer .main-products-btn {
  background-color: #333333;
  padding: 5px 20px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  margin: 0 0 2em;
}
footer .main-products-btn:hover {
  letter-spacing: 3px;
  padding: 5px 17px;
}

.admin-header {
  max-height: 150px;
}

#add-new-object {
  background-color: #8bc63f;
  padding: 10px;
  border-radius: 10px;
  color: white;
  transition: linear 0.1s;
}
#add-new-object:hover {
  padding: 12px;
}

.admin-navigation, .add-container {
  list-style-type: none;
}
.admin-navigation a, .add-container a {
  transition: linear 0.1s;
}
.admin-navigation a:hover, .add-container a:hover {
  letter-spacing: 1px;
}

.card-list-container td {
  text-align: center;
  border: 1px solid #8bc63f;
  padding: 5px;
}
.card-list-container tr {
  transition: linear 0.2s;
}
.card-list-container a:hover {
  cursor: pointer;
}

.form-login {
  box-shadow: 0 0 20px 0 #1f1f1f;
}

.form-add-list {
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px #dfdfdf;
  background-color: rgba(255, 255, 255, 0);
}
.form-add-list input, .form-add-list textarea, .form-add-list button {
  transition: linear 0.1s;
}
.form-add-list input:focus, .form-add-list textarea:focus, .form-add-list button:focus {
  outline: none;
  box-shadow: 0px 0px 5px 0px #8bc63f;
}
.form-add-list #add {
  background-color: #8bc63f;
}
.form-add-list #add:hover {
  color: white;
}
.form-add-list .upload-btn:empty {
  background-color: #333333;
  width: 62%;
  color: white;
  text-align: center;
  padding: 8px;
  z-index: 1;
  transition: linear 0.2s;
}
.form-add-list #img::-webkit-file-upload-button {
  width: 50%;
  background-color: #333333;
  color: white;
  border: none;
  padding: 8px;
  transition: linear 0.2s;
}
.form-add-list #img::-webkit-file-upload-button:hover {
  cursor: pointer;
  background-color: white;
  color: #333333;
  letter-spacing: 1px;
}
.form-add-list #img::-webkit-file-upload-button:focus {
  outline: none;
}

.button-container #update {
  background-color: #8bc63f;
}
.button-container #update, .button-container #delete {
  color: white;
}

.search-box :is(input) {
  background: none;
  padding: 0 7px;
  width: 250px;
  font-size: 20px;
  border-bottom: 2px solid #8bc63f;
}
.search-box :is(input):active, .search-box :is(input):hover, .search-box :is(input):focus {
  outline: none;
}

#search {
  background: none;
  padding: 0 7px;
  width: 250px;
  font-size: 20px;
}
@media screen and (max-width: 620px) {
  #search {
    background-color: #333333;
    color: white;
  }
}

.btn {
  background-color: #8bc63f;
  padding: 0.8em 2em;
}
.btn:focus {
  outline: none;
}

.card-container {
  max-width: 700px;
  max-height: 200px;
  width: 90vw;
  background-color: #2E2E2E;
  padding: 0.5em;
  margin: 7px auto;
}
.card-container .product-image {
  object-fit: cover;
}
.card-container .basket-card-image {
  max-width: 170px;
  height: 110px;
  position: relative;
  object-fit: cover;
  object-position: center;
}
.card-container h4 {
  margin-top: 0;
  font-size: 20px;
}
.card-container h5 {
  margin: auto 2em;
  padding: 1em;
}
.card-container .total-price {
  margin: auto;
  color: #8bc63f;
}
.card-container .fa-minus-circle, .card-container .fa-eye {
  color: #ED2C30;
  font-size: 2em;
  margin: auto 0;
}
.card-container .fa-eye {
  color: white;
  margin: 25% 0;
}
.card-container .img-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(139, 198, 62, 0.9);
  color: white;
  width: 100%;
  height: 100%;
  max-height: 100%;
  transition-property: height;
  transition: ease 0.5s;
  opacity: 0;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 0;
  text-align: center;
  align-content: center;
}
.card-container .basket-card-image:hover .img-overlay {
  opacity: 1;
  height: 100%;
  cursor: pointer;
  transition: ease 0.2s;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}

.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: spinner 1.6s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #8bc63f transparent transparent transparent;
}

.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=output.css.map */
